# Object file
*.o

# Ada Library Information
*.ali
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
out/production/Java_Tasks/LabWork1/ArrayManager.class
out/production/Java_Tasks/Program.class
out/production/OOP_Tasks/LabWork1/ArrayManager.class
out/production/OOP_Tasks/LabWork1/StringManager.class
out/production/OOP_Tasks/Program.class
out/production/Java_Tasks/LabWork1/StringManager.class
Java_Tasks.iml
.idea/uiDesigner.xml
.idea/libraries/junit_junit_4_12.xml
out/production/Java_Tasks/LabWork1/StringUtils.class
out/production/Java_Tasks/LabWork1/ArrayUtils.class
out/production/Java_Tasks/LabWork1Test/ArrayUtilsTest.class
out/production/Java_Tasks/LabWork1Test/StringUtilsTest.class
src/Program.java
*.class
out/production/Java_Tasks/LabWork2/Products/task.txt
out/production/Java_Tasks/LabWork2/StringSorts/task.txt
out/production/Java_Tasks/LabWork2/ShopUsers/task.txt
out/production/Java_Tasks/LabWork2/StoreUsers/task.txt
src/LabWork2/Main.java
src/LabWork2/Main.java
src/LabWork2/Main.java
